SPIRE_AGENT_JOIN_TOKEN={{ spire_agent_join_token }}
SPIRE_AGENT_TRUST_DOMAIN={{ spire_trust_domain }}
SPIRE_AGENT_SERVER_ADDRESS={{ spire_server_address }}
SPIRE_AGENT_SERVER_PORT={{ spire_server_port }}
